{% extends 'MedEsperanzaPrincipalBundle:Default:indexOri.html.twig' %}
{% block body %}
    <br/>
    <h2 class="title">
    UBICACION
    </h2>
    <p>
        <FONT FACE="arial" SIZE=3 >25 Ave. Norte, una cuadra al Sur del Hospital Bloom, San Salvador, El Salvador.<br/>
        <b>Tel&eacute;fono: </b>(503) 2131-1964 <br>
        <b>Correo Electronico:</b> medicentrolaesperanza@hotmail.es </FONT> <br/>        
    </p>
    <img src="{{ asset('/images/edificios.jpg')}}" alt="" width="500" height="400"     />
    
    <br>
    <h2 class="title">Mapa:</h2> <br>
    <center>
    <iframe width="525" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Medicentro+La+Esperanza,+Urbanizacion+Buenos+Aires+III,+San+Salvador,+El+Salvador&amp;sll=13.712089,-89.203668&amp;sspn=0.003023,0.005252&amp;gl=ES&amp;ie=UTF8&amp;hq=Medicentro+La+Esperanza,&amp;hnear=Urbanizacion+Buenos+Aires+III,+San+Salvador,+El+Salvador&amp;ll=13.711839,-89.204057&amp;spn=0.012091,0.021007&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=6937869338508578405&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Medicentro+La+Esperanza,+Urbanizacion+Buenos+Aires+III,+San+Salvador,+El+Salvador&amp;sll=13.712089,-89.203668&amp;sspn=0.003023,0.005252&amp;gl=ES&amp;ie=UTF8&amp;hq=Medicentro+La+Esperanza,&amp;hnear=Urbanizacion+Buenos+Aires+III,+San+Salvador,+El+Salvador&amp;ll=13.711839,-89.204057&amp;spn=0.012091,0.021007&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=6937869338508578405" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
    </center>
    <br>
    <br>
    <br>
    <br>
{% endblock %}